header {
    text-align: center;
    color: goldenrod;
    margin: 30px;
}

.link-allboys a {
    color: aliceblue;
}

h3 {
    color: black;
}

nav {
    text-align: center;
    background-color: black;
    margin: 30px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 30px;
}

a {
    text-decoration: none;
}

.Estadio {
    width: 500px;
    margin: 30px;
    text-align: center;
}

body {
    background-color: white;
    }